body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /
}

.container {
    max-width: 800px; /* Set maximum width for the content */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    background-color: #f9f0d2; /* Light yellow background similar to aged paper */
    border: 2px solid #7a5230; /* Border to simulate aged paper */
    border-radius: 10px;
}

header {
    background-color: #7a5230; /* Brown color for header */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom: 4px solid #ddb67c; /* Border to simulate aged paper */
}

h1, h2 {
    font-family: 'Georgia', serif; /* Serif font for headings */
}

main {
    padding: 20px;
}

.gods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gods a {
    margin: 10px;
}

.gods img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #7a5230; /* Brown color for footer */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top: 4px solid #ddb67c; /* Border to simulate aged paper */
}

a {
    color: #ddb67c; /* Color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline effect on hover */
}
.god-img-apollo,
.god-img-hera,
.god-img-zeus,
.god-img-poseidon,
.god-img-ares {
    max-width: 300px; /* Set maximum width for the images */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent inline elements issues */
    margin: 0 auto 20px; /* Center the images horizontally and add some bottom margin */
    border-radius: 10px; /* Apply border radius */
}
